.skills {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  text-align: center;
  margin-top: 8%;
}

.skillsTitle {
  align-items: center;
  font-size: 40px;
  margin-bottom: 1.5%;
  color: black;
}

.skillsDescription {
  margin: 0 auto;
  margin-bottom: 1.5%;
  font-size: 20px;
  width: 600px;
  color: black;
}

.skillsBars {
  text-align: left;
  width: 75%;
  margin: 10px auto;
}

.skillsBar1 {
  display: flex;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  border: 0.5px solid #ccc;
}

.skillsBarText1 {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  text-align: left;
  color: black;
}

.skillsBarText1Btn {
  background: #8bd3bb;
  padding: 12px;
  margin: 10px;
  border: none;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  color: black;
}
.skillsBarImg {
  width: 160px;
  height: 137px;
  padding: 10px;
  text-align: center;
}


@media screen and (max-width:960px) {
    .skillsBarBtnDiv {
        display: flex;
        flex-wrap: wrap;
      }
      .skillsBarText1Btn {
        flex-basis: calc(25% - 28px);
      }
}



@media screen and (max-width: 560px) {
  .skillsDescription {
    width: 250px;
  }
  .skillsTitle {
    margin: 0 auto;
    font-size: 30px;
  }
  .skillsBar1 {
    width: 100%;
    display: block;
    text-align: center;
  }
  .skillsBarImg {
    width: 110px;
    height: 103px;
  }

  .skillsBarText1 {
    margin-left: 21px;
    text-align: left;
  }

  .skillsBarBtnDiv {
    display: flex;
    flex-wrap: wrap;
  }
  .skillsBarText1Btn {
    font-size: small;
    flex-basis: calc(33% - 30px);
  }
  .skillsBarText1h1 {
    font-size: small;
    margin-left: 21px;
  }
}
