.footer {
    display: flex;
    width: 100%;
    color: black;
    background: rgb(204, 202, 202);
    padding: 19px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 840px) {
    .footer {
        font-size: small;
        /* top: 3264px; */
    }
}
@media screen and (max-width: 560px) {
    .footer {
        font-size: small;
    }
}