.footer {
    color: white;
    text-align: center;
    margin: 4% 0;
    background: rgb(40, 40, 40);
    padding: 1.5%;
}

@media screen and (max-width: 560px) {
    .footer {
        font-size: small;
        max-width: 408px;
    }
}
@media screen and (max-width: 840px) {
    .footer {
        font-size: small;
        max-width: 608px;
    }
}